.bgimg{
  background-color: #258682;
}

.custom-img {
    max-width: 100%; 
    height:auto;
    object-fit: contain;
  }
  
  @media (max-width: 768px) {
    .custom-img {
      width: 100%; 
      height: 250px;
    }
  }
  
  @media (max-width: 576px) {
    .custom-img {
      width: 100%; 
      height: 200px; 
    }
  }
  
  @media (max-width: 360px) {
    .custom-img {
      width: 100%; 
      height: 150px;
    }
  }
  
  
  




  .mb-p{
    text-align: left;
  }
 /* Custom heading styles */
.mb-head {
    font-size: 1rem; 
    font-weight: bold;
    text-transform: uppercase; 
    letter-spacing: 1.1px; 
    text-align: center;
    margin-bottom: 20px; 
    position: relative; 

  }
    .mb-head::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color: #007bff; 
    border-radius: 2px;
  }
  
 
  

  

  /* Custom button styles */
.mb-btn {
    background-color: #02547A; 
    color: white;
    border: none; 
    border-radius: 50px; 
    padding: 4px 15px; 
    font-size: 0.9rem; 
    font-weight:bold;
    text-transform: uppercase; 
    transition: all 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
  }
  

  
  